page-new {

    .item-datetime ion-datetime {
        color: rgb(250, 172, 69);
    }
       
    .item {
        .text-input, {
            color: rgb(255, 186, 95);
        }
    }

    .image{
        font-size: 27px;
    }

    
}
